/* Document Setup */
* {
    margin: 0;
    font-family: sans-serif;
}

.hide {
    display: none;
}

section {
    min-width: 100vh;
}

/* Animations */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes heart-beat {
    0% {
        opacity: 1;
    }
    32% {
        opacity: 0.8;
    }
    45% {
        opacity: 0.7;
    }
    65% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

/* Home Page */
/* Navigation */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    /* align-self: center; */

    padding: 2rem;
    margin: 0 auto;
}

.nav-button {
    height: 60px;
    padding: 8px;
    animation: rotate 1s;


}

/* Hero Section */
.hero-section {
    background-image: url(/Assets/hero-background.png);
}

.hero-content {
    display: flex;
    height: 56.875rem;
    padding: 2rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: stretch;
}

.hero-text-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.hero-text {
    font-family: "din-condensed", sans-serif;
    font-size: 18.75rem;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.125rem;

    z-index: 1;
}

.hero-text-bottom {
    font-family: "din-condensed", sans-serif;
    font-size: 22.5rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.35rem;

    z-index: 1;
}

.hero-collage {
    position: absolute;
    top: 0;
    left: 9%;

    z-index: 0;

    /* animation: heart-beat 2s;
    animation-iteration-count: infinite; */
}

.train-collage {
    position: absolute;
    top: 0;
    left: 9%;

    z-index: 1;
}

/* Section 02 */
.section02 {
    height: 100vh;
    flex-shrink: 0;

    position: relative;
}

.section02-content-container {
    display: inline-flex;
    max-width: 50rem;
    padding: 2rem;
    flex-direction: column;
    align-items: flex-start;
}

.section02-title {
    align-self: stretch;

    color: #000;

    font-family: "inter";
    font-size: 4rem;
    font-weight: 900;
}

.section02-content {
    align-self: stretch;

    font-size: 2rem;
    font-weight: 400;
}

.section02-image {
    position: absolute;
    right: 0;
    bottom: 32px;
}



















/* About Page */
.content-card {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 10%;
    max-width: 40%;
}

.about-title {
    font-size: 48px;
}

.about-image {
    position: absolute;
    left: 40%;
    top: 10%;
    width: 80%;
}